---
import Layout from "../layouts/Layout.astro";
import Navigation from "../layouts/Navigation.astro";
---

<Layout title="Candy Farms">
  <main class="flex flex-col items-center justify-center h-screen">

  </main>
</Layout>
